@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 20px;
}

.content{
    text-align: center;
}

.img-top{
    overflow: hidden;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img-top img{
    height: 100%;
    width: 100%;
}

.box-text{
    font-family: 'Red Hat Display', sans-serif;
    padding: 40px;
}

.box-text h1{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.box-text p{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 500;
}

.box-text a{
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 16px;
}

a:hover{
    color: hsl(224, 23%, 55%);
    text-decoration: none;

}

.button{
    padding-top: 40px;
}

.button button{
    background-color: hsl(245, 75%, 52%);
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(225, 100%, 98%);
    font-weight: 900;
    min-height: 50px;
    min-width: 320px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 5px 30px 1px rgba(3, 4, 54, 0.5);
}


button:hover{
    background-color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.cancel-order a{
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

.cancel-order a:hover {
    color: hsl(223, 47%, 23%);
}

.title h1{
    padding-bottom: 20px;
    font-size: 25px;
}

.description{
    padding-bottom: 30px;
}

.price{
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    display: flex;
    align-items:center;
    padding: 20px 20px;
}

.plan-text{
    display: block;
    align-items: center;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 60px;
}

.price-number{
    padding-top: 5px;
}

.cancel-order{
    padding-top: 20px;
}